@font-face {
	font-family: "Proxima Nova";
	src: url(ProximaNova-Reg.otf);
}

@font-face {
	font-family: "Proxima Nova";
	src: url(ProximaNova-Bold.otf);
	font-weight: bold;
}

@font-face {
	font-family: "Proxima Nova";
	src: url(ProximaNova-RegIt.otf);
	font-style: italic;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #daede2;
	font-family: "Proxima Nova";
}